<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VBTextFinder.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Cette section définit la configuration de l'enregistrement dans le fichier journal de My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Supprimez les marques de commentaire dans la section suivante pour écrire dans le journal des événements de l'application -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Supprimez les marques de commentaire dans la section suivante et remplacez APPLICATION_NAME par le nom de votre application à écrire dans le journal des événements de l'application -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <VBTextFinder.My.MySettings>
            <setting name="frm_X" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="frm_Y" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="frm_Larg" serializeAs="String">
                <value>790</value>
            </setting>
            <setting name="frm_Haut" serializeAs="String">
                <value>590</value>
            </setting>
            <setting name="frm_EtatFenetre" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bAfficherInfoResultat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bIndexAvecMotsDico" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bIndexAvecMotsCourant" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sCodeLangueIndex" serializeAs="String">
                <value>Fr</value>
            </setting>
            <setting name="NbMotsCles" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="bIndexListeMots" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="iIndexType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sListeCodesLanguesIndex" serializeAs="String">
                <value>Fr;Uk;Us;Es</value>
            </setting>
            <setting name="bIndexAvecNumeriques" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bTexteUnicode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bIndexerAccents" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bAfficherNumOccur" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bOccurrencesGras" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bOccurrencesCouleur" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="sCouleursHtml" serializeAs="String">
                <value>yellow;lightgreen;lightblue;silver;turquoise</value>
            </setting>
            <setting name="bIndexerChapitre" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bAfficherChapitreIndex" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bAfficherInfoDoc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bAfficherNumParag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bAfficherNumPhrase" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bNumerotationGlobale" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bAfficherTiret" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bVerifierUnicode" serializeAs="String">
                <value>True</value>
            </setting>
        </VBTextFinder.My.MySettings>
    </userSettings>
</configuration>
